@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">MONT Valentin</h1>
            <p>Réalisation d'un site Velov like.</p>
            <p>Cette application permet de consulter en temps réel, la disponibilité des vélos<br /> 
            et places dans les stations VeloV de Lyon et son agglomération.</p>

            <h2>Tasks</h2>

            <ul>
                <li style="text-decoration: underline;">
                    Créer un repository public sur github, bitbucket ou gitlab pour héberger votre code.
                </li>
                <li style="text-decoration: underline;">
                    Publier votre code sur le repository à chaque avancée
                </li>
                <li style="text-decoration: underline;">
                    Supprimer du menu les pages de bases pour 2 liens de menu fonctionnels vers les pages vides suivantes : "Accueil", "Liste des stations", "Carte", "Mes favoris"
                </li>
                <li style="text-decoration: underline;">
                    Compléter la pages "Accueil" pour présenter votre travail, votre nom/prenom, cette liste d'objectifs (que vous rayerez au fur et à mesure) et l'URL où votre code source est visible
                </li>
                <li>
                    Se brancher sur l'API VeloV du grand Lyon pour récupérer les données en temps réel
                </li>
                <li>
                    API OpenData du Grand Lyon :  Lire des données issues d'un flux JSON
                </li>
                <li>
                    Afficher les données de l'API sous forme de tableau sur la page "Liste des stations" (les stations sont triées par ordre alphabétique)
                </li>
                <li>
                    Razor Cheat sheet :
                </li>
                <li>
                    Afficher les données de l'API sous forme de carte sur la page "Carte" (chaque station sera représentée par une épingle à son emplacement)
                </li>
                <li>
                    Intégrer une carte openstreet map sur un site :
                </li>
                <li>
                    Ajouter sur caque épingle de la carte la possibilité de cliquer pour afficher une infobulle qui indiquera le nombre de vélos et de places à la station en question
                </li>
                <li>
                    Ajouter la possibilité de créer un compte utilisateur sur votre application
                </li>
                <li>
                    Ajouter sur la page "Liste des stations" et/ou "Carte" la possibilité de rajouter des stations en favoris
                </li>
                <li>
                    Compléter la page "Mes favoris" pour n'afficher sous forme de tableau que les stations marquées en favoris
                </li>
                <li>
                    Stocker les stations favorites dans une base SQL
                </li>
                <li>
                    Prise en main d'EF Core dans une application web MVC ASP.Net :
                </li>
                <li>
                    Centrer automatiquement la carte par rapport à la position de l'utilisateur
                </li>
                <li>
                    Récupérer la position de l'utilisateur : 
                </li>
                <li>
                    Trier automatiquement la liste des stations par rapport à la position de l'utilisateur
                </li>
                <li>
                    Rendre votre application bilingue Français / Anglais
                </li>
                <li>
                    Rendre votre application utilisable à la fois pour la ville de Lyon et la ville de Bordeaux (par exemple un bouton permettra de passer de l'un à l'autre dans le menu)
                </li>
                <li>
                    Une API affichant les données pour la ville de Bordeaux : 
                </li>
                <li>
                    Déployer votre code sur un serveur accessible publiquement en consultation
                </li>
                <li>
                    Déployer une application ASP.Net Core sur un serveur Debian 
                </li>
                <li>
                    Déployer une application ASP.Net Core sur Azure 
                </li>
                <li>
                    Permettre aux utilisateurs de signaler un vélo en panne
                </li>
                <li>
                    Faire en sorte que votre site soit agréable à utiliser sur mobile (il ne doit pas comporter ascenseur horizontal)
                </li>
                <li>
                    BONUS : toute fonctionnalité supplémentaire sera valorisée, pensez-juste à l'indiquer sur votre page d'accueil que je puisse la comptabiliser
                </li>

            </ul>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/valmnt/VelovMont" role="button">Github : https://github.com/valmnt/VelovMont</a></p>
        </div>
    </div>
