
@{
    var bikeStations = ViewBag.allBikeStations;
}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Vélos Disponibles</th>
                    <th scope="col">Dernières MAJ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bikeStation in bikeStations)
                {
                <tr>
                    <td>@bikeStation.name</td>
                    <td>@bikeStation.address</td>
                    <td>@bikeStation.available_bikes</td>
                    <td>@bikeStation.last_update</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

