
@{
    var datas = ViewBag.allBikeStations;
}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Vélos Disponibles</th>
                    <th scope="col">Dernières MAJ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in datas)
                {
                <tr>
                    <td>@data.name</td>
                    <td>@data.address</td>
                    <td>@data.available_bikes</td>
                    <td>@data.last_update</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

